---
layout: default
---

{%- if site.categories[page.category].size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Blog" }}</h2>
    <ul class="post-list">
    {% for post in site.categories[page.category] %}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
            <strong>
                <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
                </a>
            </strong>
            <span>
            {{ post.date | date: date_format }}
            </span>
            {%- if site.show_excerpts -%}
                {{ post.excerpt }}
            {%- endif -%}
        </span>
    </li>
    {% endfor %}
    </ul>
{%- endif -%}
